@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.MessageBox{
    width: 100%;
    word-wrap: normal;
    display: flex;
    margin: 10px 0px;
}

.message{
    max-width: 60%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 1rem;
    overflow-wrap: break-word;
}

.outgoing .message{
    background: linear-gradient(135deg, rgb(162, 246, 168) 29%, rgb(183, 249, 144) 88%);
}

.incoming .message{
    background: #eee;
}

.incoming{
    justify-content: start;
}

.outgoing{
    justify-content: end;
}

.data{
    width: 100%;
    display: flex;
    justify-content: end;
    color: #333;
    font-size: 12px;
    box-sizing: border-box;
}

.readBox{
    margin-left: 5px;
}

.read{
    color: rgb(21, 95, 21);
}

.unread{
    color: lightgrey;
}